<!--<p>
  config works!
</p>

<alert type="success" [dismissible]="x % 2 === 0">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>

<button class="btn btn-success" (click)="x = (x % 2 === 0) ? 3 : 4; myInterval=5000">Cambiar</button>
<hr/>
<div style="height:500px;">
  <carousel [interval]="myInterval">
    <slide>
      <img src="http://www.planwallpaper.com/static/images/6-940622110b39cad584098e6749eac708.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="http://www.planwallpaper.com/static/images/6-house-in-green-field.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="http://www.planwallpaper.com/static/images/nature-images-384.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
</div>

<hr/>-->
